body {
    background-color: rgb(234, 209, 255);
}

h1 {
     background-color: rgb(128 10 128 / 0.4);
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 50px;
    text-align: center;
    font-size: 51px;
    color: rgb(62, 9, 62);
}

p {
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
    color: rgb(62, 9, 62);
}

.essay {
    background-color: rgb(128 10 128 / 0.4);
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
}