

/* overall appearance */



body {
    background-color: #2f2f94;
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: 1.5rem;
}

.con-header {
    text-align: center;
    margin: 40px;
}

/* constellation css */

.constellation {
    animation: fadein 8s;
}

.constellation:hover {
    scale: 1.2;
}


@keyframes fadein {
    from {opacity: 0%;}
    to {opacity: 100%;}
}


/* information setup */

.con-information {
    display: grid;
    color: white;
    grid-template-columns: 300px 1fr;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
    column-gap: 90px;
}

.home-button {
    text-align: center;
    scale: .9;
    margin-top: 50px;
}

.drawing {
    color: rgb(99, 54, 232);
    background-color:rgb(144, 147, 241);
    border-radius: 6px;
    scale: 1.2;
    margin-left: 25px;
    padding: 10px;
    text-decoration: none;
    opacity: 0%;
    animation: fadein2 5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.drawing:hover {
    Color: rgb(144, 147, 241);
    background-color: rgb(99, 54, 232);
}


@keyframes fadein2 {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.night-sky {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20% 20% 20%; 
    padding: 30px;
}
