

/* overall appearance */



body {
    background-color: rgb(47, 47, 148);
}

h1 {
    color: white;
}

p {
    font-size: 1.5rem;
}

.con-header {
    text-align: center;
    margin: 40px;
}

/* constellation css */

.constellation {
    animation: fadein 8s;
}

@keyframes fadein {
    from {opacity: 0%;}
    to {opacity: 100%;}
}


/* information setup */

.con-information {
    display: grid;
    color: white;
    grid-template-columns: 300px 1fr;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 320px;
    column-gap: 90px;
}

.home-button {
    text-align: center;
    scale: .9;
    margin-top: 50px;
}

.night-sky {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20% 20% 20%; 
}
