/*
COLOR PALETTE 

Champagne Pink: #F9DEC9
Flame: #D36135
Chestnut: #A24936
Lapis Lazuli: #335C81
Indigo Dye: #274060

*/

/* GLOBAL STYLES */

/*
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html. body {
    height: 100%;
}

body {
    background: #F9DEC9;  
    padding: 20px;
    margin: 0px auto;
}

.content-wrapper {
    margin: 0px auto;
    max-width: 900 px;
    padding: 30px;
}


h1 {
    color: #A24936
}

h2 {
    color: #D36135
}

#highlight {
    background: yellow;
}

/* links */
a {
    color: #274060
}

a:hover {
    color: #335C81;
    text-decoration: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: #D36135
}


/* HOME */
.home {
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover
}

.home .content-wrapper {
    background-color: rgb(255 255 255 / 0.9);
}

/* RESUME */
.resume header::before {
    background: url(../images/bg-home-office-studio.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}

.resume-section {
    margin-bottom: 50px;
}

.resume-section h2 {
    border-bottom: 2px dashed #274060;
}

.download-link {
    position: fixed;
    background-color:#274060;
    color: white;
    padding: 5px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
}

/* Profile */

/* Projects */

.project-item {
    display: flow-root;
    margin: 30px 0;
}

.project-item img {
    width: 300px;
    float: left;
    margin-right: 20px;
}

/* Work Experience */

/* Education */

/* FOOTER */

footer {
    background: #335C81;
    color: white;
    display: block;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.socials {
    list-style-type: none;
    padding: 0;

}

.socials li {
    display: inline-block;
}

.socials img {
    width: 32px;
}