/* ~~~~~~~~~~ overall site visual design ~~~~~~~~~~ */

body {
    background-color: #FECEF1;
}

/* ~~~~~~~~~~ header ~~~~~~~~~~ */

h1 {
    color: #D81E5B;
    margin: 25px;
    scale: 1.5;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* ~~~~~~~~~~ navigation ~~~~~~~~~~ */

.topnav {
    background-color: white;
    text-align: center;
    opacity: 70%;
    margin: 10px;
    padding: 15px;    
}

.navlink {
    padding: 20px;
}

a {
    color: #760072;
}

a:hover {
    color: #df00d8;
}

/* ~~~~~~~~~~ diary entries ~~~~~~~~~~*/

.diary-entry {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 30px;
    column-gap: 90px;
}

/* diary summary */

.photos {
    margin-left: -20px;
}

/* diary writing */

.diary-details {
    margin-top: 75px;
}

.diary-body{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.body-text {
    color: #D81E5B;
    scale: 1.1;
}

.signoff {
    color: #D81E5B;
    
}