/* ~~~~~~~~~~ overall site visual design ~~~~~~~~~~ */

body {
    background-color: #FECEF1;
}

.catgif {
    display: flex;
    justify-content: center;
}
/* ~~~~~~~~~~ header ~~~~~~~~~~ */

h1 {
    color: #D81E5B;
    margin: 25px;
    scale: 1.5;
    text-align: center;
    display: flex;
    justify-content: center;
}

.gif {
    scale: .7;
    background: url(..images/stars.gif) repeat;
}

/* ~~~~~~~~~~ navigation ~~~~~~~~~~ */

.topnav {
    background-color: white;
    text-align: center;
    opacity: 70%;
    margin: 10px;
    padding: 15px;    
}

.navlink {
    padding: 20px;
}

a {
    color: #760072;
}

a:hover {
    color: #df00d8;
}

/* ~~~~~~~~~~ text css ~~~~~~~~~~*/

/* body */

.body-text {
    color: #D81E5B;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.signoff {
    color: #D81E5B;
    display: flex;
    justify-content: center;
    
}

