/* ~~~~~~~~~~ overall site visual design ~~~~~~~~~~ */

body {
    background-color: #FECEF1;
}

.catgif {
    display: flex;
    justify-content: center;
}
/* ~~~~~~~~~~ header ~~~~~~~~~~ */

h1 {
    color: #D81E5B;
    margin: 25px;
    scale: 1.5;
    text-align: center;
    display: flex;
    justify-content: center;
}

.gif {
    scale: .7;
}

/* ~~~~~~~~~~ navigation ~~~~~~~~~~ */

.topnav {
    background-color: white;
    text-align: center;
    color: orange;
    margin: 10px;
    padding: 15px;    
}

a {
    color: red;
}

a:hover {
    color: violet;
}

/* ~~~~~~~~~~ text css ~~~~~~~~~~*/

/* body */

.body-text {
    color: #D81E5B;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.signoff {
    color: #D81E5B;
    display: flex;
    justify-content: center;
    
}


/* link design */




.loading {
    animation: stretch 5s infinite alternate;
    background-color: green;
    width: 80vw;
}

@keyframes stretch {
    0% {
        width: 100px;
    }

    100% {
        width: 80vw;
    }
}