/* ~~~~~~~~~~ overall site visual design ~~~~~~~~~~ */
body {
    animation: change-color 20s infinite alternate;
}

@keyframes change-color {
    0% {
        background-color: #6987C9;
    }

    50% {
        background-color: #b4aadd;
    }

    100% {
        background-color: #FECEF1;
    }
}


/* ~~~~~~~~~~ header ~~~~~~~~~~ */

h1 {
    margin: 25px;
    scale: 1.5;
    text-align: center;
    display: flex;
    justify-content: center;
    animation-name: text-color, fade-in;
    animation-duration: 20s, 15s;
    animation-iteration-count: infinite, 1;
    animation-direction: alternate, alternate;
}



@keyframes text-color {
    0% {
        color: #253a68;
    }

    50% {
        color: #524294;
    }

    100% {
        color: #7a3066;
    }
}

/* ~~~~~~~~~~ navigation ~~~~~~~~~~ */
.topnav {
    background-color: white;
    text-align: center;
    color: orange;
    margin: 5px;
    padding: 10px;
    opacity: 0%;
    animation: fadein-nav 10s;
    animation-delay: 20s;
    animation-fill-mode: forwards;
}

@keyframes fadein-nav {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

a {
    color: #760072;
}

a:hover {
    color: #df00d8;
}

/* ~~~~~~~~~~ content ~~~~~~~~~~*/
img {
    display: block;
    margin: 0 auto;
    padding: 30px;
    animation: fade-in 15s;
}

.textbox {
    text-align: center;
    padding: 10px;
    animation: fade-in 15s
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
