/* ~~~~~~~~~~ overall site visual design ~~~~~~~~~~ */
body {
    animation: change-color 10s infinite alternate;
}

@keyframes change-color {
    0% {
        background-color: #6987C9;
    }

    50% {
        background-color: #b4aadd;
    }

    100% {
        background-color: #FECEF1;
    }
}


/* ~~~~~~~~~~ header ~~~~~~~~~~ */

h1 {
    color: #D81E5B;
    margin: 25px;
    scale: 1.5;
    text-align: center;
    display: flex;
    justify-content: center;
    animation: fade-in 15s;
}



/* ~~~~~~~~~~ navigation ~~~~~~~~~~ */
.topnav {
    background-color: white;
    text-align: center;
    color: orange;
    margin: 5px;
    padding: 10px;
    animation: fadein-nav 10s;
}

@keyframes fadein-nav {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

/* ~~~~~~~~~~ content ~~~~~~~~~~*/
img {
    display: block;
    margin: 0 auto;
    padding: 30px;
    animation: fade-in 15s;
}

.textbox {
    text-align: center;
    padding: 10px;
    animation: fade-in 15s
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}
